<style>
#slide-control {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  display: hidden;
}

#slide-control.active {
  opacity: 1;
  visibility: visible;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

#slide-number-btn {
  background-color: transparent;
  font-weight: bold;
}

#slide-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

#slide-list.active {
  display: block;
}

#slide-list li {
  cursor: pointer;
}

#slide-list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}








#assistive-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
}

#assistive-button.active {
  opacity: 1;
}

.circle-btn {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff5722;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.circle-btn:hover {
  background-color: #e64a19;
}

.digit {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

#user-info {
  position: absolute;
  top: 0px;
  left: -100px;
  width: 200px;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

#assistive-button:hover #user-info {
  opacity: 1;
  visibility: visible;
}

.username {
  font-weight: bold;
}

.fullname {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
<div id="slide-control" class="inactive">
  <div class="buttons">
    <button id="prev-btn"><i class="fas fa-chevron-left"></i></button>
    <button id="slide-number-btn">1</button>
    <button id="next-btn"><i class="fas fa-chevron-right"></i></button>
  </div>
  <ul id="slide-list">
    <li>Slide 1</li>
    <li>Slide 2</li>
    <li>Slide 3</li>
    <li>Slide 4</li>
    <li>Slide 4</li>
    <li>Slide 4</li>
    <li>Slide 4</li>
    <li>Slide 4</li>
    <li>Slide 4</li>
    <li>Slide 4</li>
    <li>Slide 4</li>
    <!-- Add more slides as needed -->
  </ul>
</div>
<div id="assistive-button">
  <button class="circle-btn">
    <span class="digit">123</span>
  </button>
  <div id="user-info">
    <span class="username">@prabesh</span><br>
    <span class="fullname">Prabesh Sapkota</span>
  </div>
</div>

<script>
const slideControl = document.getElementById('slide-control');
const slideNumberBtn = document.getElementById('slide-number-btn');
const slideList = document.getElementById('slide-list');

const assistiveButton = document.getElementById('assistive-button');
const userInfo = document.getElementById('user-info');

assistiveButton.addEventListener('mousemove', () => {
  userInfo.style.opacity = '1';
  userInfo.style.visibility = 'visible';
});

assistiveButton.addEventListener('mouseleave', () => {
  userInfo.style.opacity = '0';
  userInfo.style.visibility = 'hidden';
});


let isActive = true;
let timeout;

function hideSlideControl() {
  isActive = false;
  slideControl.classList.remove('active');
  assistiveButton.classList.remove('active');
}

function showSlideControl() {
  isActive = true;
  slideControl.classList.add('active');
  assistiveButton.classList.add('active');
}

function resetTimeout() {
  clearTimeout(timeout);
  timeout = setTimeout(hideSlideControl, 3000);
}

slideControl.addEventListener('mousemove', () => {
    showSlideControl();
    resetTimeout();
});

assistiveButton.addEventListener('mousemove', () => {
    showSlideControl();
    resetTimeout();
});

document.addEventListener('keypress', (event) => {
  if (event.code === 'Space') {
    showSlideControl();
    resetTimeout();
  }
});

slideNumberBtn.addEventListener('click', () => {
  slideList.classList.toggle('active');
});

slideList.addEventListener('mouseleave', () => {
  slideList.classList.remove('active');
});

showSlideControl();
resetTimeout();
</script>